/* Ejercicio de prueba con flexbox pinterest
 */
body{
    background-color: #fffdfd;
    margin:1em;
}
img{

    /* Esto hace que la imagen abarque el espacio de su contenedor */
    max-width:100%;
    /* Esta propiedad ayuda a que la imagen se ajuste a su contenedor */
    /* object-fit: cover; */
    
    /* Esto ayuda a que se mantenga el espacio de separación entres filas */
    margin-bottom: 1em;
    border-radius: 1em;
} 

img:hover{
    filter:invert(0.18)
}

.gallery{
    columns:5 250px;
    column-gap: 1em;

    /* Con estas instrucciones hacemos que las imagenes cambien de fila cuando ya no caben. */
    /* display: grid; */
    /* Con grid le pedimos que se autollene cada 320 px  */
    /* grid-template-columns: repeat (auto-fill, minmax (320px, 3fr)); */
    /* align-items: start; */
}
a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    padding: 12px;
}
.inicio{
    color: #fffdfd;
    background-color: black;
    border-radius:2em;
}
ul{
    list-style:none;
}
input{
    width:100%;
    padding: 12px;
    background-color: #e6e5ec;
    border-style: hidden;
    border-radius: 2em;
    font-size: medium;
}
header{
    position: relative;
}
.navbar {
    width: 100%;
    height: 70px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navbar .links {
    display: flex;
    
}
